<article class="card" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="card-header">
    <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
    <hr />
    <p class="post-meta">
      <span>
        Posted by:
        {% if site.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <a href="{{ site.url }}{{ site.baseurl }}/about" itemprop="url">
            <span itemprop="name">{{ site.author }}</span>
          </a>
        </span>
        {% endif %}
      </span>
      on
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>
    </p>
    {% if page.summary %}
    <p class="post-summary" itemprop="description">{{ page.summary }}</p>
    {% endif %}
    <span class="disqus-comment-count" data-disqus-identifier="{{ page.url }}" aria-label="Number of comments"></span>
    {% if page.roles %}
    <div class="post-categories">
      <strong>Category:</strong>
      {% for role in page.roles %}
      <small class="btn btn-col status-button" role="button">{{ role }}</small>
      {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
  </header>

  <div class="card-body" itemprop="articleBody">
    {{ content | markdownify }}
    <hr />
    {%- include share_page.html -%}
    {% assign author = site.data.authors[page.author] %}
    {% if author %}
      {% include author.html %}
    {% endif %}
    <nav class="post-navigation">
      {% assign filtered_posts = site.posts | where: "type", "Dissertation Blog" | sort: "date" %}
      
      {% comment %}
      Find the index of the current page in the filtered_posts array
      {% endcomment %}
      {% assign index = -1 %}
      {% for post in filtered_posts %}
          {% if post.url == page.url %}
              {% assign index = forloop.index0 %}
          {% endif %}
      {% endfor %}
  
      {% if index > 0 %}
          {% assign previous_index = index | minus: 1 %}
          {% assign previous_post = filtered_posts[previous_index] %}
          <a href="{{ previous_post.url }}" class="btn btn-secondary">← {{ previous_post.title }}</a>
      {% else %}
          <span class="btn btn-secondary disabled">← No previous post</span>
      {% endif %}
  
      {% assign last_index = filtered_posts.size | minus: 1 %}
      {% if index < last_index %}
          {% assign next_index = index | plus: 1 %}
          {% assign next_post = filtered_posts[next_index] %}
          <a href="{{ next_post.url }}" class="btn btn-secondary">{{ next_post.title }} →</a>
      {% else %}
          <span class="btn btn-secondary disabled">No next post →</span>
      {% endif %}
    </nav>
  </div>
</article>
