<div class="card" style="position: fixed; left: 0; bottom: 0; z-index: 1000000; background-color: #1c1c1e !important; margin: 0 !important; padding: 5px !important; border-radius: 0px 10px 0px 0px !important">
    <p class="profile-links" style="margin-bottom: 0px">
        {% if site.twitter_username %}
        <a class="social-link"
           href="http://twitter.com/{{ site.twitter_username }}" target="_blank" style="padding: 20px !important; color: #b3b3b3 !important">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %} {% if site.instagram_username %}
        <a class="social-link"
           href="http://instagram.com/{{ site.instagram_username }}" target="_blank" style="padding: 20px !important; color: #b3b3b3 !important">
            <i class="fab fa-instagram"></i>
        </a>      
        {% endif %} {% if site.github_username %}
        <a class="social-link"
           href="http://github.com/{{ site.github_username }}" target="_blank" style="padding: 20px !important; color: #b3b3b3 !important">
            <i class="fab fa-github"></i>
        </a>
        {% endif %} {% if site.linkedin_username %}
        <a class="social-link"
           href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank" style="padding: 20px !important; color: #b3b3b3 !important">
            <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %}
    </p>
</div>