---
layout: default
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
<div class="jumbotron" style="text-align: center;">

  <video id="video-background" autoplay muted playsinline loop>
    <source src="{{site.url}}{{site.baseurl}}/assets/img/showreel_test.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <script>document.getElementById('video-background').play();</script>

  <h1 class="main-title">{{site.author}}</h1>
  <p class="lead">Game Developer</p>

  <p class="profile-links">
      {% if site.twitter_username %}
      <a class="social-link"
         href="http://twitter.com/{{ site.twitter_username }}" target="_blank">
          <i class="fab fa-twitter"></i>
      </a>
      {% endif %} {% if site.instagram_username %}
      <a class="social-link"
         href="http://instagram.com/{{ site.instagram_username }}" target="_blank">
          <i class="fab fa-instagram"></i>
      </a>   
      {% endif %} {% if site.github_username %}
      <a class="social-link"
         href="http://github.com/{{ site.github_username }}" target="_blank">
          <i class="fab fa-github"></i>
      </a>
      {% endif %} {% if site.linkedin_username %}
      <a class="social-link"
         href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
          <i class="fab fa-linkedin-in"></i>
      </a>
      {% endif %}
  </p>
</div>

<div class="panel-heading active" role="tab" id="headingOne" style="text-align: center; padding:10px">
  <h2 class="panel-title-main" style="font-size: 18px; word-wrap: normal; padding: 15px; background-color: #292929f5">
      Featured Projects
  </h2>
</div>
<div id="collapseFeaturedGames" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">
  <div class="panel-body">
      <div id="blog-posts-container" style="padding-top: 20px; padding-bottom: 20px; padding-left: 10%; padding-right: 10%;">
          <div style="padding-left: 10px; padding-right: 10px">
              <div class="row">
                  {% for post in site.categories.featured limit:4 %}
                  <div class="featured-project-card featured-project-post" style="border-radius: 50px" data-genres="{{ post.genre | join: ',' }}">
                      <div class="column-two" style="max-width: 50">
                        <a href="{{ post.url | prepend: site.baseurl }}" target="_blank" style="margin: 0px; padding: 0px; text-decoration:none">
                            <a href="{{ post.url | prepend: site.baseurl }}" data-disqus-identifier="{{ post.url }}" style="padding: 0px">
                                <h4 class="featured-card-title">
                                    {{post.title}}
                                    {% if post.hasNDA == true %}
                                    <i class="fa-solid fa-lock"></i>
                                    {% endif %}
                                </h4>
                            </a>
                            <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
                      </div>
                      <hr>
                      <h6 class="card-subtitle mb-2 text-muted">{{ post.summary}}</h6>
                      <div class="card-body center">
                            <div style="position: relative">
                                <img class="featured-card-img-top" src="{{site.baseurl}}/assets/img/thumbnails/{{post.title}}.png" alt="{{ post.title }}" style="border-radius: 30px; position: relative">
                                {% if post.browser_playable == true %}
                                <img src="{{site.baseurl}}/assets/img/icons/controller_icon.svg" alt="Play on browser" id="lib-small-image" style="position: absolute; bottom: -10px; right: -10px; z-index: 1; width: 60px; color: orange; border-radius: 5px; padding: 5px">
                                {% endif %}
                            </div>
                          <h5 style="margin-top: 10px;">{{post.main-role}}</h5> 
                          <p class="experience-desc" style="text-align:left;">{{ post.description }}</p>
                      </div>
                      <div class="card-body-footer">
                        <hr>
                        <div class="post-categories" style="vertical-align:bottom; text-align:center">
                            {% if post %} {% assign genre = post.genre %} {% else %} {%
                            assign genre = page.genre %} {% endif %} {% for
                            genre in genre %}
                            <small class="btn btn-col" style="font-size: small; padding: .1rem .3rem; display:inline; background-color: darkslategrey">{{genre}}</small>
                            {% unless forloop.last %}&nbsp;{% endunless %} {% endfor %}
                        </div>
                    </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>
  </div>
</div>
